@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');


:root {
    --primary-color: #23C9FF;
    --secondary-color: #DB5461;
    --accent1-color: #248232;
    --accent2-color: #F9C784;

    --heading-font: Arial, Helvetica, sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: #23C9FF;
    --nav-link-color: #DB5461;
    --nav-hover-link-color: #248232;
    --nav-hover-background-color: #F9C784;

}
  

body {
    padding: 20px;
    width: 30%;

}


.hero {
    margin: 10px auto;
    position: relative;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    

}

h1 {
    position: absolute;
    padding: 2rem;
    top: 1%;
    right: 25%; 
    
}

article {
    position: absolute;
}

.hero article  p {
    position: relative;
    color: red;
    font-weight: bold;
	top: -250px;
	right: 0px;
	background: radial-gradient(#eee, #969ca9);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: .6;
    
}

.hero article  img {
    float: right;
    position: relative;
    width: 22%;
    margin-left: 10px;
    bottom: 230px;
    

}




h2 {
    color: #DB5461;
}



header {
    padding: 20px;
    background-color: #23C9FF;
}


nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;

}

nav a:link, nav a:visited {
    color: var(--nav-link-color);

}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


