@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');


:root {
    --primary-color: #23C9FF;
    --secondary-color: #DB5461;
    --accent1-color: #248232;
    --accent2-color: #F9C784;

    --heading-font: Arial, Helvetica, sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: #23C9FF;
    --nav-link-color: #DB5461;
    --nav-hover-link-color: #248232;
    --nav-hover-background-color: #F9C784;

}
  

body {
    padding: 20px;
    width: 50%;

}


.hero {
    margin: 10px auto;
    position: relative;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    

}

.hero h1 {
    position: absolute;
    padding: 2rem;
    top: 1%;
    right: 25%; 
}

article {
    position: absolute;
}

.hero article p {
    position: relative;
    color: red;
    font-weight: bold;
	top: -250px;
	right: 0px;
	background: radial-gradient(#eee, #969ca9);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: .6;
    
}

.hero article img {
    float: right;
    position: relative;
    width: 22%;
    margin-left: 10px;
    bottom: 230px;
}


header {
    padding: 20px;
    background-color: #23C9FF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}

header img {
  width: 150px;
  height: auto;
  border: 1px solid rgb(98, 103, 136);
  box-shadow: 0 0 30px gray;
  padding: 1rem;
  
}

nav {
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    text-align: right;
    padding: 3rem;
}

nav a {
    display: block;
    text-decoration: none;
    padding: .1rem;
}

#histo {
    display: grid;
    grid-template-columns:  2fr 2fr 2fr;
    justify-items: center;
    
}

#histo h2 {
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
    color: red;
}

#histo img {
    border: 1px solid rgb(98, 103, 136);
    padding: .5rem;
    grid-column: 2;
    grid-row: 1;
    width: 100px;
}

#histotx1 {
    grid-column: 1;
    grid-row: 1;
    border: solid #000;
    padding: 1rem;
}

#histotx2 {
    grid-column: 3;
    grid-row: 1;
    border: solid #000;
    padding: 1rem;
}

#advent {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-gap: 15px;
    padding: 2px;
    justify-items: center;
    
}

#advent h2{
    color: blue;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-self: left;
    
}

#adventpic1 {
    width: 100px;
    height: 100px;
    
}

#adventpic2 {
    width: 100px;
    height: 100px;
}

#adventpic3 {
    width: 100px;
    height: 100px;
}

#adventpic4 {
    width: 100px;
    height: 100px;
}

#adventpic5 {
    width: 100px;
    height: 100px;
}

nav a:link, nav a:visited {
   color: #111;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.sociallinks {
    display: flex;
    flex-wrap: nowrap;
    background-color: #DB5461;
    align-items: center;   
}

.sociallinks p {
    width: 450px;
}

.sociallinks nav {
    width: 1px;
    justify-content: center;
    align-items: center;    
}

.contact {
    border-bottom: #000 solid;
}

.contact h1 {
    text-align: center;
    padding: 2rem;
}

.map {
    width: 50px;
    height: 50px;
}

.map iframe {
    position: absolute;
    top: 65%;
    right: 48%; 
}


.employee {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 85px;
    margin-left: 50px;
    padding: 2px;
    justify-items: center;
    text-align: center;
}
.employee img {
    width: 150px;
    height: 100px;
}

form {
    width: 525px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

textarea {
    padding: 0.5rem;
    width: 450px;
    height: 50px;
    vertical-align: top;
}

input [type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 1fr 2fr;
}


.writemessage {
    grid-template-columns: 1fr 2fr;
}

