div {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  button:first-child {
    order: 1;
  }

  button:last-child {
    order: -1;
  }

  /*button:first-child {
    align-self: flex-end;
  }*/